* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 100vh;
    color: black;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container {
    text-align: center;
    background-color: #fff;
    padding: 60px;
    border-radius: 10px;
    box-shadow: 20px 20px 20px #d9d9, -20px -20px 80px #fff;
}
h1 {
    padding: 10px;
}
.display {
    font-size: 48px;
    font-weight: bold;
    padding: 10px;
    background-color: #fff;
    border-radius: 10%;
    margin-bottom: 30px;
    box-shadow: inset 20px 20px 20px #d9d9d9, inset -20px -20px 60px #fff;
    color: #333;
}
button {
    padding: 10px 20px;
    margin: 10px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background-color: #fff;
    color: #333;
    box-shadow: 20px 20px 20px #d9d9d9, 
    -20px -20px 60px #fff;
    transition: all 0.2s ease-in-out;
    font-size: 20px;
}

button:hover {
    transition: translate(5px, 5px);
    box-shadow: 5px 5px 5px #d9d9d9,
    -5px -5px 15px #fff;

}
.start {
    background-color: #73c7ac;
    color: #fff;
}
.stop {
    background-color: #e77e8c;
    color: #fff;
}
.rest {
    background-color: #f7af5a;
    color: #fff;
}